In [28]:
import pandas as pd

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
df=pd.read_csv('c:/Users/vvhem/Downloads/DECISION_TREE.csv')

In [31]:
df

           AGE CHOLESTROL      BP    DRUG
0        Young       High  Normal  Drug A
1        Young       High    High  Drug A
2   Middle-age       High  Normal  Drug B
3       Senior     Normal  Normal  Drug B
4       Senior        Low  Normal  Drug B
5       Senior        Low    High  Drug A
6   Middle-age        Low    High  Drug B
7        Young     Normal  Normal  Drug A
8        Young        Low  Normal  Drug B
9       Senior     Normal  Normal  Drug B
10       Young     Normal    High  Drug B
11  Middle-age     Normal    High  Drug B
12  Middle-age       High  Normal  Drug B
13      Senior     Normal    High  Drug A

In [32]:
from sklearn.preprocessing import LabelEncoder

In [41]:
le=LabelEncoder()
LE1=le.fit(df.DRUG)
df.DRUG=le.transform(df.DRUG)

le1=LabelEncoder()
le1.fit(df.CHOLESTROL)
df.CHOLESTROL=le1.transform(df.CHOLESTROL)

df.BP=le1.transform(df.BP)
# # LE2=le.fit(df.CHOLESTROL)
# LE3=le.fit(df.BP)
# LE4=le.fit(df.AGE)
# # df['CHOLESTROL']=LE2.transform(df.CHOLESTROL)
# df['BP']=LE3.transform(df.BP)
# df['AGE']=LE4.transform(df.AGE)
# df['DRUG']=LE1.transform(df.DRUG)

In [43]:
le2=LabelEncoder()
le2.fit(df.AGE)
df.AGE=le2.transform(df.AGE)

In [44]:
df

    AGE  CHOLESTROL  BP  DRUG
0     2           0   2     0
1     2           0   0     0
2     0           0   2     1
3     1           2   2     1
4     1           1   2     1
5     1           1   0     0
6     0           1   0     1
7     2           2   2     0
8     2           1   2     1
9     1           2   2     1
10    2           2   0     1
11    0           2   0     1
12    0           0   2     1
13    1           2   0     0

In [45]:
X=df.iloc[:,0:3]
y=df.iloc[:,-1]

In [47]:
X

    AGE  CHOLESTROL  BP
0     2           0   2
1     2           0   0
2     0           0   2
3     1           2   2
4     1           1   2
5     1           1   0
6     0           1   0
7     2           2   2
8     2           1   2
9     1           2   2
10    2           2   0
11    0           2   0
12    0           0   2
13    1           2   0

In [48]:
from sklearn.model_selection import train_test_split

In [50]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4)

In [57]:
X_train.shape

(8, 3)

In [58]:
classifier=DecisionTreeClassifier()

In [59]:
classifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [60]:
y_pred=classifier.predict(X_test)

In [62]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.33      0.50      0.40         2
           1       0.67      0.50      0.57         4

    accuracy                           0.50         6
   macro avg       0.50      0.50      0.49         6
weighted avg       0.56      0.50      0.51         6

In [63]:
X_tr,X_te,y_tr,y_te=train_test_split(X,y,test_size=0.25)

In [64]:
classifier2=DecisionTreeClassifier()
classifier2.fit(X_tr,y_tr)

DecisionTreeClassifier()

In [67]:
y_pr=classifier2.predict(X_te)

In [68]:
print(classification_report(y_te,y_pr))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         2

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3